*.swp
*.o
*.lo
.libs
.deps
tags
*.so
*~
*.kate-swp
*.bak
*.bin
*.fcgi
*.so
*.a
*.out
*.yy.c
src/app/
Makefile
Makefile.in
configurea
config.sub
config.status
config.h
config.h.in
*.log
autom4te.cache
