*.swp
*.o
*.la
*.lo
.libs
.deps
tags
*.so
*~
*.kate-swp
*.bak
*.bin
*.fcgi
*.so
*.a
*.out
*.yy.c
src/app/
Makefile
Makefile.in
configure
config.sub
config.status
config.h
config.h.in
config.guess
depcomp
install-sh
ltmain.sh
missing
*.log
autom4te.cache
m4
*.m4
libtool
stamp-h1
ylwrap
doc/html
doc/latex
Doxyfile
doxyfile.stamp
src/haml/haml.c
src/haml/haml_lexer.c
src/sass/sass.c
src/sass/sass_lexer.c
.sass-cache
