%html
  %head
    %title
      %div
        %span AAA
      %div
    =include ./meta.haml
  %body
    =include ./nav.haml
    #main
    .abc
      .def.ghi.jkl ABC
      .abcdefghi
        #jklmnop
        

    .xxx#yyy.ooo
      DEF
      GHI
      JKL
    #id.abc.def
    
