!
%html
  %head
    %title
    =include meta.haml
  %body
    =include nav.haml
    #main
      Here is a text block
      that spans multiple
      lines
    .some-class
      Here is another div
      %p{ hook="my hook" }
